<div class="card">
	<h2>Danh mục sản phẩm </h2>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Áo</li>
		<li class="list-group-item">Quần jean</li>
		<li class="list-group-item">Giày</li>
		<li class="list-group-item">Quần soft</li>
		<li class="list-group-item">Mũ</li>
		<li class="list-group-item">Đồng hồ</li>
	</ul>
	<div class="card">
		<img src="/Image/Banner.jpg" class="card-img-top p-4" alt="Quảng cáo" />
	</div>
</div>